
		<div id="content">

			<!-- Page Banner -->
			<div class="page-banner">
				<div class="container">
					<h2>Ubicación</h2>

				</div>
			</div>


			<!-- contact box -->
			<div class="contact-box">
				<div class="container">
					<div class="row">


	

						<div class="col-md-6" align="center">
							<h3>Chevrolet Fame Zamora</h3>
<span class="single-project-content">
                    <img alt="Chevrolet Fame Zamora" src="images/fachada-zamora.jpg"></span>  
                    <li><span><i class="fa fa-home"></i>Fray. Manuel Martínez de  Navarrete No. 5 Colonia. Centro <br>C.P. 59600</span> <span>Zamora, Michoacán</span></li>                     
						</div>

			<!-- Map box -->
            <div class="col-md-6" align="center">
            <h3>Ubicación</h3><br>
			<div class="map">
				
			</div>
            </div>

					</div>
				</div>
			</div>

		</div><br>
	
</body>
</html>